@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

:root{
  --fontText: 'Merriweather', serif;
  --fontTitle: 'Island Moments', cursive;
  --fontSubtitle: 'Amaranth', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

